<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="@Url.Action("Index","Images")">Images</a></li>
                <li><a href="@Url.Action("Index","Projects")">Projects</a></li>
                <li><a href="@Url.Action("Index","Blogs")">Blogs</a></li>
                <li><a href="@Url.Action("Index","Account")">My Account</a></li>
                <li><a href="@Url.Action("Logoff","Account")">LOGOFF</a></li>
            </ul>
        </div>
        <div class="navbar-header">
            <div class="navbar-header-left">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" aria-expanded="false" id="mobile-navigation-toggle">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar first-icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
        </div>
    </div>
</nav>
