<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Mike Upjohn - CMS - @ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/bundles/customcss")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body class="@ViewBag.BodyClass">
    <div id="main">
        @Html.Action("_DesktopNavigation", "Shared")
        <div class="container-fluid">
            @RenderBody()
        </div>
        <div class="row">
            <div class="col-xs-12">
                @Html.Action("_Footer", "Shared")
            </div>
        </div>
    </div>
    @Html.Action("_MobileNavigation", "Shared")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/pluginsjs")
    @*@Scripts.Render("~/bundles/ckeditorjs")*@
    <script type="text/javascript" src="~/_includes/ckeditor/ckeditor.js"></script>
    @Scripts.Render("~/bundles/customjs")
    @RenderSection("scripts", required: false)
</body>
</html>