<div id="menu" class="nav-collapse">
    <ul>
        <li><a href="@Url.Action("Index","Images")">Images</a></li>
        <li><a href="@Url.Action("Index","Projects")">Projects</a></li>
        <li><a href="@Url.Action("Index","Blogs")">Blogs</a></li>
        <li><a href="@Url.Action("Index","Account")">My Account</a></li>
        <li><a href="@Url.Action("Logoff","Account")">LOGOFF</a></li>
    </ul>
</div>
