@model List<MikeUpjohnWebPortfolioV2CMS.Models.ImageListViewModel>

@{
    ViewBag.Title = "Image List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-xs-12">
        <div class="content-area">
            <div class="left-title">
                <h1>Images</h1>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="content-area">
            <div class="right-title">
                <h2><a href="@Url.Action("Add","Images")">Add a New Image</a></h2>
            </div>
        </div>
    </div>
</div>
@if (Model.Count() > 0)
{
    <div class="row">
        <div class="col-xs-12">
            <div class="content-area">
                <table class="blogs-table">
                    <tr>
                        <th>ID</th>
                        <th>Image Name</th>
                        <th>Size</th>
                        <th>Deleted?</th>
                        <th>Image Uploaded</th>
                        <th>Image Last Modified</th>
                        <th>Actions</th>
                    </tr>
                    @foreach (var item in Model)
                {
                        <tr>
                            <td class="table-center">@item.ImageID</td>
                            <td>@item.ImageFileName</td>
                            <td class="table-center">@item.ImageSize.ToBestFitFileSize()</td>
                            <td class="table-center">
                                @if (item.IsDeleted)
                                { <text>&#10004;</text> }
                            </td>
                            <td class="table-center">@item.ImageCreatedDate.ToFormattedDateString("ddd dd MMM yyyy hh:mm")</td>
                            <td class="table-center">@item.ImageModifiedDate.ToFormattedDateString("ddd dd MMM yyyy hh:mm")</td>
                            <td class="table-center actions">
                                @if (!item.IsDeleted)
                                {
                                    <a href="@Url.Action("Edit", "Images", new { @id = item.HashedImageID })">Edit</a> @("|") <a data-image-id="@item.HashedImageID" class="delete-image">Delete</a>
                                }
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>
    if (ViewBag.CountOfItems > 10)
    {
        @Html.Action("_Pagination", "Shared", new { currentPage = ViewBag.CurrentPage, countOfItems = ViewBag.CountOfItems })
    }
}